<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-CN" }}">
        <head>
                <meta charset="UTF-8">

                <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="theme-color" content="#157878">
                <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

                <style type="text/css">
                 a.site_title:link {color: #DCDCDC}
                 a.site_title:visited {color: #DCDCDC}
                 a.site_title:hover {color: #DCDCDC}
                 a.site_title:active {color: #DCDCDC}
                </style>
        </head>
        <body>
                <section class="page-header">
                        <h1 class="project-title" ><a class="site_title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
                        <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
                </section>

                <section class="main-content">
                        {{ content }}

                        {% include footer.html %}
                </section>

                {% if site.google_analytics %}
                <script type="text/javascript">
                 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                 ga('create', '{{ site.google_analytics }}', 'auto');
                 ga('send', 'pageview');
                </script>
                {% endif %}
        </body>
</html>
